.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar a {
    text-decoration: none;
}

.navbar label {
    color: white;
}

.links {
    color: white;
    padding: 5%;
    width: fit-content;
}

.links:hover {
    background-color: green;
}